<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
    <body>
    {% if message %}
    <script>
        alert('{{ message }}');
    </script>
{%endif%}
    <body>
    <!--Header and Navbar -->
    <header class="pb-5">
        <nav class=" navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class=" navbar-brand" href="{% url 'djangoapp:index' %}">Best Cars &#128663;</a>
            {% if user.is_authenticated %}
            <div class="ml-auto">
                <a class="h6 mr-2 text-light">Welcome, {{user.username}}</a>
                <a class="btn btn-outline-danger btn-sm" type="button" href="{% url 'djangoapp:logout' %}">Logout</a>
            </div> 
            {% else %}
            <form action="{% url 'djangoapp:login' %}"  method="post" class="ml-auto">
                {% csrf_token %}<!--Important do not touch-->
                <input class="" type="text" id="username" name="username" placeholder="UserName:">
                <input type="password" id="pword" name="pword" placeholder="Password:">
                <input class="btn btn-outline-success btn-sm" type="submit" value="Login">
                <a class="btn btn-outline-warning btn-sm" type="submit" href="{% url 'djangoapp:registration' %}">Sign Up</a>
            </form>
            {% endif %}
        </nav>
    </header>

    <main role="main" class="d-flex justify-content-center pt-3 ">
        <form class="border border-dark p-4 w-auto h-auto text-center bg-light" action="{% url 'djangoapp:registration' %}"  method="post">
            {% csrf_token %}
            
            <h1 class="text-center">Sign Up!</h1><br>
            <label for="username"><b>User Name</b></label>
            <br>
            <input type="text" placeholder="Enter User Name: " name="username" required>
            <br>
            <label for="fname"><b>First Name</b></label>
            <br>
            <input type="text" placeholder="Enter First Name: " name="fname" required>
            <br>
            <label for="lname"><b>Last Name</b></label>
            <br>
            <input type="text" placeholder="Enter Last Name: " name="lname" required>
            <br>
            <label for="pword"><b>Password</b></label>
            <br>
            <input type="password" placeholder="Enter Password: " name="pword" required>
            <br>
            <br>
            <button class="btn btn-warning btn-lg" type="submit">Sign Up</button>
        </form>
    </main>
    

    <!--Footer and navbar-->
    <footer class="navbar navbar-expand-md navbar-dark fixed-bottom bg-dark">
      <div class="container">
        <a class="btn btn-sm btn-outline-info" type="button" href="{% url 'djangoapp:about' %}">About Us</a>
        <a class="btn btn-sm btn-outline-info" type="button" href="{% url 'djangoapp:contact' %}">Contact Us</a>
      </div>
    </footer>
    </body>
</html>